{% load bootstrap5 %} <!---Carrega o bootstrap no html-->
{% bootstrap_css %} <!--Disponibiliza as classes bootstrap no html--->
{% bootstrap_javascript %} <!--Disponibiliza o javascript do bootstrap mo html--->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header> <!---Inicio do cabeçalho-->
        <!-- Como um span -->
        <nav class="navbar navbar-dark bg-dark shadow">
          <div class="container">
              <span class="navbar-brand mb-0 h1 ">TuxSchool</span>
          </div>
        </nav>
    </header><!---Fim do cabeçalho-->

        <main class="container mt-4">
            <h1>Cadastro de alunos</h1>

        <!---Nosso formulário--->
            <form method="POST">
                <!---O django criptografa os dados do formulario-->
                {% csrf_token %}
                <!---Criação do formulario pelo CreateView--->
                {{ form }}
                <button type="submit"> Enviar </button>
            </form>
        </main>
</body>
</html>