<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    {% load bootstrap5 %} <!---Carrega o bootstrap no html-->
    {% bootstrap_css %} <!--Disponibiliza as classes bootstrap no html--->
    {% bootstrap_javascript %} <!--Disponibiliza o javascript do bootstrap mo html--->
    <title>Lista de Alunos</title>
</head>
<body>
    <header> <!---Inicio do cabeçalho-->
        <!-- Como um span -->
        <nav class="navbar navbar-dark bg-dark shadow">
          <div class="container">
              <span class="navbar-brand mb-0 h1 ">TuxSchool</span>
              <a href="{% url 'logout' %}">Logout</a>
          </div>
        </nav>
    </header><!---Fim do cabeçalho-->


    <main class="container mt-3">
        <div class="row"> <!---Inicio da primeira linha-->
            <div class="col-11"> <!--Inicio primeira coluna--->
                <h4><strong>Alunos cadastrados</strong></h4>
            </div>               <!--Fim primeira coluna--->
            <div class="col-1">    <a href="{% url 'alunos_form' %}" class="btn btn-primary btn-sm">Cadastrar</a>       </div>
        </div><!---Fim da primeira linha-->

        <!------------Separa as linhas----------------------->
        <div class="row"> <!--Inicio segunda linha--->
            <table class="table text-center">
              <thead>
                <tr>
                    <th scope="col">Nome:</th>
                    <th scope="col">Curso:</th>
                    <th scope="col">Turma:</th>
                    <th scope="col">Ações:</th>
                </tr>
              </thead>

              <tbody>
              <!--Usando o for com o conceito de context do django-->
              {% for aluno in alunos_list %}
                <tr>
                  <th>{{ aluno.nome }}</th>
                  <td>{{ aluno.curso }}</td>
                  <td>{{ aluno.turma }}</td>
                  <td>
                        <a href="{% url 'alunos_edicao' aluno.pk %}" class="btn btn-primary btn-sm">Editar</a>
                        <a href="{% url 'alunos_delete' aluno.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                  </td>
                </tr>
              {% endfor %}

              </tbody>
            </table>
        </div><!--Fim segunda linha--->
    </main>

    <footer></footer>
</body>
</html>
