<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Alunos</title>
</head>
<body>
    <h1> {{ titulo }} </h1>

    <table>
        <thead>
            <tr>
                <th>Nome: </th>
                <th>Ações: </th>
            </tr>
        </thead>
            {% for aluno in nome %}
                <tr>
                    <th>{{ aluno }}</th>
                    <th>
                        <button>Editar</button>
                        <button>Excluir</button>
                    </th>
                </tr>
            {% endfor %}
    </table>



</body>
</html>
